.swiper {
    max-width: 1248px;
    height: 646px;
    margin-bottom: 64px;

    @media (max-width: 1248px) {
        width: 960px;
        height: 496px;
    }

    @media (max-width: 991px) {
        width: 720px;
        height: 372px;
    }

    @media (max-width: 768px) {
        width: 540px;
        height: 279px;
    }

    @media (max-width: 546px){
        width: 288px;
        height: 299px;
        margin-bottom: 21px;
    }

    &__block {
        height: 100%;
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        object-fit: cover;
    }

    /* .swiper__discription */

    &__discription {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 39px;
        transform: translate(0, -50%);
        color: $white-light;
    }

    /* .swiper__title */

    &__title {
        font-size: 33px;
        margin-bottom: 16px;
    }

    /* .swiper__price */

    &__price {
        font-size: 26px;
        margin-bottom: 48px;
    }

    /* .swiper__button */

    &__button {
        width: 193px;
        height: 53px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 6px;
        color: $white-light;;
        border: 2px solid $white-light;
        background: none;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        &__title {
            font-size: 28px;
        }

        &__price {
            font-size: 20px;
            margin-bottom: 24px;
        }

        &__button {
            width: 140px;
            height: 36px;
            font-size: 16px;
        }
    }

    @media (max-width: 546px) {
        &__image {
            object-fit: cover;
            object-position: 94%;
        }

        &__discription {
            transform: translate(0, 30%);
            left: 20px;
        }

        &__title {
            font-size: 20px;
            margin-bottom: 3px;
        }

        &__price {
            font-size: 12px;
            margin-bottom: 12px;
        }

        &__button {
            width: 96px;
            height: 32px;
            font-size: 12px;
        }
    }
}
