.footer {
    display: flex;
    flex-direction: column;
    margin: 40px 0 90px 0;
    border-top: 1px solid $gray-light;
    @media (max-width: 320px) {
        border: none;
    }
    /* .footer__useful */

    &__useful {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 55px 0 48px 0;
        @media (max-width: 991px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }

    /* .footer__useful-block */

    &__useful-block {
        display: flex;
        gap: 41px;
        color: $dark-gray-light;
        a {
            cursor: pointer;
        }
        @media (max-width: 991px) {
            flex-direction: column;
            gap: 14px;
        }

        @media (max-width: 546px) {
            font-size: 12px;
            gap: 8px
        }
    }

    /* .footer__useful-item */

    &__useful-item {}

    /* .footer__useful-input */
    &__useful-input {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $black-light;
        input {
            width: 396px;
            border: none;
            outline: none;
            color: $dark-gray-light;
            font-size: 24px;
            padding: 14px 0 13px 0;
            &::placeholder {
                font-size: 16px;
            }
        }
        button {
            display: block;
            border: none;
            outline: none;
            background-color: #fff;
            cursor: pointer;
            height: 63px;
        }

        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
    }

    /* .footer__lower */

    &__lower {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        
    }

    /* .footer__privacy */

    &__privacy {
        @media (max-width: 546px) {
            font-size: 12px;
            color: $dark-gray-light;
        }
        span {
            color: $dark-gray-light;
        }
    }

    /* .footer__icons */

    &__icons {
        display: flex;
        gap: 30px;
        @media (max-width: 768px) {
            margin-bottom: 36px;
        }
    }

    /* .footer__icons-link */

    &__icons-link {
        color: $dark-gray-light;
        cursor: pointer;
    }
}
