.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
    border-bottom: 1px solid $gray-light;

    &__logo {
        font-family: "Allerta Stencil", sans-serifs;
        font-size: 35px;
        color: $black-light;
        &::first-letter {
            color: $accent-light;
        }
    }

    &__menu {
        display: flex;
        gap: 64px;
        margin-right: 48px;

        &::after {
            content: '';
            border-left: 1px solid $dark_gray-light;
            height: 20px;
        }
    }
    
    &__actions {
        display: flex;
        gap: 39px;
        margin-left: 48px;
    }

    &__right-side {
        display: flex;
    }

    @media (max-width: 991px) {
        &__menu {
            gap: 30px;
            margin-right: 14px;
        }

        &__actions {
            gap: 28px;
            margin-left: 14px;
        }

    }

    @media (max-width: 768px) {
        &__right-side {
            display: none;
        }
    }
}
.header-menu {
    &__link {
        font-size: 16px;
        color: $black-light;
    }
}
.header-actions {
    &__button {
        border: none;
        background: none;
        cursor: pointer;
    }
}
