.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 0 0 0;
    padding-bottom: 17px;
    border-bottom: 1px solid $gray-light;
    /* .header__logo */

    &__logo {
        font-family: "Allerta Stencil", sans-serifs;
        font-size: 35px;
        color: $black-light;
        &::first-letter {
            color: $accent-light;
        }
    }

    /* .header__menu */

    &__menu {
        display: flex;
        gap: 64px;
        margin-right: 48px;

        &::after {
            content: '';
            border-left: 1px solid $dark_gray-light;
            height: 20px;
        }

        @media (max-width: 991px) {
            gap: 30px;
            margin-right: 14px;
        }
    }

    /* .header__actions */

    &__actions {
        display: flex;
        gap: 39px;
        margin-left: 48px;

        @media (max-width: 991px) {
            gap: 28px;
            margin-left: 14px;
        }
    }

    &__right-side {
        display: flex;
        @media (max-width: 768px) {
            display: none;
        }
    }
}
.header-menu {
    /* .header-menu__list */

    &__list {}

    /* .header-menu__item */

    &__item {}

    /* .header-menu__link */

    &__link {
        font-size: 16px;
        color: $black-light;
    }
}
.header-actions {
    /* .header-actioons__link */

    &__link {}

    /* .header-actioons__img */

    &__img {}
}
