// dark colors
$accent-dark: #B4A186;
$light_gray-dark: #9A9A9A;
$gray-dark: #3D3D3D;
$dark_gray-dark: #272727;
$black-dark: #0A0A0A;
$white-dark: #FBFBFB;
// light colors
$errors-light: #D82700;
$accent-light: #A18A68;
$black-light: #000000;
$dark_gray-light: #707070;
$gray-light: #D8D8D8;
$light_gray-light: #EFEFEF;
$white-light: #FFFFFF;