@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');
@import './normalize.scss';

body {
    font-family: 'DM Sans', sans-serif;
    color: $black-light;
    min-height: 100vh;
    margin:0;
}